/* .checkout{
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none ;
    color: #D2E885 ;
    background-color: rgba(121,153,5,1);
} */
