.game-carousel-picture{
    size: 50%;
}
.carousel{
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
.carousel-buttons{
    display: flex;
    justify-content: space-between  ;
}
