.recc-button {
    background-color: rgb(72, 100, 120);
    width: 100px;
    height: 50px;
    color: rgb(137, 113, 133);
    border-radius: 4px;

}

.recc-button-highlighted {
    background-color: rgb(88, 147, 183);
    width: 100px;
    height: 50px;
    color: rgb(220, 223, 225);
    border-radius: 4px;

}

.recc-button:hover {
    cursor: pointer;
    background-color: rgb(88, 146, 183);
    color: rgb(220, 223, 225);
}

.review-recommend {
    display: flex;
    justify-content: space-between;
}

.review-submit {
    background-color: rgb(72, 100, 120);
    width: 100px;
    height: 50px;
}

.review-submit:hover {
    cursor: pointer;
    background-color: rgb(88, 146, 183);
    width: 100px;
    height: 50px;
    color: rgb(220, 223, 225);
}

.button-grouper {
    display: flex;
}

.inputFieldLarge {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 9px;
    padding-top: 5px;
    overflow: hidden;
    width: 380px;
    height: 90px;
}
